* {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 0;
  outline: 0 none;
  font-family: 'oxygen',arial,"helvetica neue",helvetica,arial,sans-serif;
  font-size: 1em;
  font-weight: normal; }

body {
  margin: 0 auto;
  background-color: #f0f0f0; }

ul, li {
  list-style-type: none; }

a {
  text-decoration: none;
  line-height: 0; }

span, a {
  font-family: inherit; }

input, textarea, select {
  border: 1px solid #abaaad; }

h2, h3, h4, h5 {
  padding: 0;
  font-size: .9em; }

.invisibilita {
  display: none; }

.container-in {
  max-width: 90%;
  margin: 0 auto; }

.header {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd; }

.head {
  display: inline-block;
  width: 18%;
  text-align: right;
  vertical-align: middle; }
  .head h1 {
    border-radius: 120px;
    display: inline-block;
    overflow: hidden; }
    .head h1 a {
      display: block;
      overflow: hidden; }
      .head h1 a img {
        -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
        box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
        border-radius: 120px; }

.menu-block {
  display: inline-block;
  width: 78%;
  text-align: center;
  vertical-align: middle; }

.menu {
  display: inline-block; }
  .menu li {
    display: inline-block;
    margin: 10px; }
    .menu li a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      text-transform: lowercase;
      color: #000;
      border-bottom: 3px solid #f0f0f0;
      font-family: 'oxygen',sans-serif;
      font-size: 22px;
      font-weight: bold; }
      .menu li a:hover {
        color: #999;
        border-bottom: 3px solid #999; }
    .menu li .active, .menu li .active:hover {
      color: #32b8b8;
      border-bottom: 3px solid #32b8b8; }

.social {
  display: inline-block;
  padding: 0 40px;
  font-size: 1.4em; }
  .social a {
    display: inline-block;
    overflow: hidden;
    height: 40px;
    margin: 0 4px;
    padding: 8px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    text-align: center;
    vertical-align: middle;
    color: #000;
    line-height: 40px; }
    .social a:hover {
      color: #999; }

.brand {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding: 0; }

.pics {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 90%;
  max-width: 300px;
  margin: 10px auto;
  padding: 8px 8px 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  border-radius: 3px;
  background-color: #ddd; }
  .pics .pins {
    display: block;
    color: #333; }
  .pics img {
    width: 100%;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6); }
  .pics .indoor {
    display: block; }
  .pics .outdoor {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    padding: 10px;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
    text-align: left;
    font-family: 'open sans',arial,helvetica,sans-serif; }
    .pics .outdoor span {
      line-height: 24px; }
      .pics .outdoor span span {
        color: #32b8b8; }
    .pics .outdoor .vmas {
      display: block;
      overflow: hidden;
      margin: 8px 0;
      padding: 6px 0;
      text-align: center; }
      .pics .outdoor .vmas span {
        display: inline-block;
        width: 120px;
        margin: 2px;
        padding: 4px;
        border: 1px solid #32b8b8;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 1.1em; }
        .pics .outdoor .vmas span:hover {
          color: #fff;
          border: 1px solid #fff; }
    .pics .outdoor strong {
      color: #00afec; }
  .pics .txt {
    padding: 10px;
    font-size: .9em; }
    .pics .txt h2 {
      text-align: left;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
      .pics .txt h2 span {
        line-height: 40px; }
  .pics:hover {
    background-color: #333;
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6); }
    .pics:hover .indoor {
      display: block; }
    .pics:hover .outdoor {
      top: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.8); }
    .pics:hover .txt h2 span {
      color: #09f; }

.top {
  display: block;
  overflow: hidden;
  padding-bottom: 20px;
  text-align: center; }
  .top a {
    display: inline-block;
    overflow: hidden;
    width: 100px;
    height: 40px;
    margin: 20px auto;
    padding: 0 10px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #09f;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    line-height: 40px; }
    .top a:hover {
      -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
      box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
      background-color: #06f; }

.profile {
  display: block;
  width: 100%;
  padding-top: 20px; }
  .profile a.usr {
    display: inline-block;
    overflow: hidden;
    margin: 10px auto;
    padding: 0;
    border-radius: 100px;
    -webkit-box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.6); }
  .profile h2 {
    font-size: 1.3em; }
  .profile h3 {
    color: #999; }
  .profile .userpic {
    display: block;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 0;
    border-radius: 100px; }

.cv {
  display: block;
  padding: 10px; }
  .cv h2 {
    padding: 10px 0 16px;
    text-transform: uppercase;
    font-size: 1.5em; }

.bio {
  display: block;
  max-width: 960px;
  padding: 10px 0;
  margin: 0 auto; }
  .bio p {
    vertical-align: top;
    text-align: left;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    width: 48%;
    padding: 1% 6px;
    margin: 0 auto;
    display: inline-block;
    min-width: 260px;
    color: #888;
    font-family: 'open sans',arial,helvetica,sans-serif; }
  .bio:hover p {
    color: #444; }

.apts {
  margin: 20px auto;
  padding: 10px; }
  .apts .apt {
    max-width: 300px;
    vertical-align: top;
    display: inline-block;
    margin: 0 auto 10px;
    background-color: #ddd;
    text-align: center;
    line-height: 30px; }
    .apts .apt strong, .apts .apt span {
      display: inline-block;
      padding: 0;
      border-radius: 0; }
    .apts .apt i {
      font-size: .8em; }
    .apts .apt strong {
      width: 170px;
      text-align: left;
      padding: 0 8px 0 4px; }
    .apts .apt span {
      padding: 0;
      text-align: center;
      width: 110px; }
  .apts .desc {
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    line-height: 30px;
    width: 100%; }

@media (min-width: 280px) and (max-width: 720px) and (orientation: portrait) {
  .header {
    display: block;
    width: 100%;
    text-align: center; }
  .menu-block {
    display: block;
    width: 100%;
    text-align: center; }
  .head {
    display: block;
    width: 100%;
    text-align: center; }
    .head h1, .head a {
      display: block;
      width: 100%;
      margin: 0 auto;
      padding: 0 0 20px; }
  .brand {
    display: block;
    width: 220px;
    height: 220px;
    max-height: 220px;
    margin: 0 auto;
    text-align: center; }
  .menu {
    width: 100%; }
    .menu li {
      display: block; }
  .social {
    display: block; }
  .pics {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 280px;
    margin: 10px auto;
    padding: 8px 8px 8px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border-radius: 3px; }
  .apts {
    display: block;
    margin: 0 auto; }
    .apts .apt {
      background-color: #ddd; }
      .apts .apt strong, .apts .apt span {
        text-align: center; }
      .apts .apt span {
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        padding: 2px 0 16px; }
        .apts .apt span:hover {
          color: #32b8b8; } }
