// color
$pantone367u: #85c876
$pantone563u: #6cbaa7
$pantone522c: #ba92c3
$pantone7618u: #d98882
$pantone628u: #8ed3d5
$pantone727u: #d7a98b
$pantone7520u: #fbc4be
$pantone7751u: #ceb878
$pantone10u: #7d838a
$pantoneu: #2c2b32
$pantone428u: #abaaad
$pantonew: #ffffff
$pantonelg: #f0f0f0
$pantonemetal: #282a2b
$pantonegold: #e2a32e
$bl: #000
$txtboton: #1b9bb9
$bgmain: #f4a920
$top501: #e0a731
$top500: #209ba5
$nunet: #b93f40
$olnet: #282a2b
$bannerll: #bd5125
$otherb: #47a2d2
$otherg: #666666
$bggen: #a2ded0
$add001: #ef4036
$add002: #5b7f95
$add003: #e1a028
$add004: #f74e68
$add005: $pantonegold
$bluejet: #557ecf
$wht: #fff
$aqgreen: #32b8b8

//#01baf4
*
  //box-sizing: border-box
  margin: 0
  padding: 0

  text-align: center

  border: 0
  outline: 0 none

  font-family: 'oxygen',arial,"helvetica neue",helvetica,arial,sans-serif
  //line-height: 30px
  font-size: 1em
  font-weight: normal

body
  //max-width: 1000px
  margin: 0 auto

  background-color: $pantonelg

ul, li
  list-style-type: none
a
  text-decoration: none

  line-height: 0

span, a
  font-family: inherit

input, textarea, select
  border: 1px solid $pantone428u

h2, h3, h4, h5
  padding: 0

  font-size: .9em

.invisibilita
  display: none

.container-in
  max-width: 90%
  margin: 0 auto
  //background-color: red
.header
  display: inline-block
  overflow: hidden

  width: 100%
  height: auto
  margin: 20px auto
  padding: 10px 0

  text-align: center
  vertical-align: middle

  border-bottom: 1px solid #ddd
.head
  display: inline-block

  width: 18%

  text-align: right
  vertical-align: middle
  h1
    border-radius: 120px
    display: inline-block
    //overflow: hidden

    overflow: hidden
    a
      display: block
      overflow: hidden
      img
        box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
        border-radius: 120px
.menu-block
  display: inline-block

  width: 78%

  text-align: center
  vertical-align: middle
.menu
  display: inline-block
  li
    display: inline-block

    margin: 10px
    a
      transition: .3s
      text-transform: lowercase

      color: #000
      border-bottom: 3px solid $pantonelg

      font-family: 'oxygen',sans-serif
      font-size: 22px
      font-weight: bold
      &:hover
        color: #999
        border-bottom: 3px solid #999
    .active,.active:hover
      color: $aqgreen
      border-bottom: 3px solid $aqgreen
.social
  display: inline-block
  padding: 0 40px
  font-size: 1.4em
  a
    display: inline-block
    overflow: hidden
    height: 40px
    margin: 0 4px
    padding: 8px
    transition: .3s
    text-align: center
    vertical-align: middle
    color: #000
    line-height: 40px
    &:hover
      color: #999
.brand
  display: inline-block
  width: 120px
  height: 120px
  padding: 0
.pics
  position: relative
  display: inline-block
  overflow: hidden
  width: 90%
  max-width: 300px
  margin: 10px auto
  padding: 8px 8px 8px

  transition: .3s

  border-radius: 3px
  background-color: #ddd
  .pins
    display: block

    color: #333
  img
    width: 100%

    transition: .3s

    border-radius: 3px
    box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
  .indoor
    display: block
  .outdoor
    position: absolute
    top: 100%
    right: 0
    bottom: 0
    left: 0

    display: block

    padding: 10px

    transition: .4s
    text-align: left

    font-family: 'open sans',arial,helvetica,sans-serif
    span
      line-height: 24px
      span
        color: $aqgreen
    .vmas
      display: block
      overflow: hidden

      margin: 8px 0
      //background-color: red
      padding: 6px 0

      text-align: center
      span
        //text-align: right
        display: inline-block

        width: 120px
        margin: 2px
        padding: 4px

        border: 1px solid $aqgreen
        border-radius: 4px
        background-color: rgba(0,0,0,.6)

        font-size: 1.1em
        &:hover
          color: #fff
          border: 1px solid #fff
    strong
      color: #00afec
  .txt
    padding: 10px

    font-size: .9em
    h2
      text-align: left
      text-align: center
      text-transform: uppercase

      font-weight: bold
      span
        line-height: 40px
  &:hover
    background-color: #333
    box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
    .indoor
      display: block
    .outdoor
      top: 0

      color: #fff
      background-color: rgba(0,0,0, 0.8)
    .txt
      h2
        span
          color: #09f
.top
  display: block
  overflow: hidden

  padding-bottom: 20px

  text-align: center
  a
    display: inline-block
    overflow: hidden

    width: 100px
    height: 40px
    margin: 20px auto
    padding: 0 10px

    text-align: center

    color: #fff
    border-radius: 4px
    background-color: #09f
    box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)

    line-height: 40px
    &:hover
      background-color: #06f
.profile
  display: block

  width: 100%
  padding-top: 20px
  a.usr
    display: inline-block
    overflow: hidden

    margin: 10px auto
    padding: 0

    border-radius: 100px
    box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
  h2
    font-size: 1.3em
  h3
    color: #999
  .userpic
    display: block
    overflow: hidden

    width: 200px
    height: 200px
    margin: 0 auto 0

    border-radius: 100px
.cv
  display: block

  padding: 10px
  h2
    padding: 10px 0 16px

    text-transform: uppercase

    font-size: 1.5em
.bio
  display: block
  max-width: 960px
  padding: 10px 0
  margin: 0 auto
  //min-width: 280px
  p
    vertical-align: top
    text-align: left
    transition: .3s
    width: 48%
    padding: 1% 6px
    margin: 0 auto
    display: inline-block
    min-width: 260px
    color: #888
    font-family: 'open sans',arial,helvetica,sans-serif
  &:hover
    p
      color: #444
.apts
  margin: 20px auto
  padding: 10px
  //background-color: #000
  .apt
    max-width: 300px
    vertical-align: top
    display: inline-block
    margin: 0 auto 10px
    background-color: #ddd
    text-align: center
    line-height: 30px
    strong, span
      display: inline-block
      padding: 0
      border-radius: 0
    i
      font-size: .8em
    strong
      width: 170px
      //background-color: green
      text-align: left
      padding: 0 8px 0 4px
    span
      //background-color: #eee
      padding: 0
      text-align: center
      width: 110px
  .desc
    display: block
    padding: 20px 0
    margin: 0 auto
    line-height: 30px
    //background-color: $aqgreen
    width: 100%
@media (min-width: 280px) and (max-width: 720px) and (orientation: portrait)
  .header
    display: block

    width: 100%

    text-align: center
  .menu-block
    display: block

    width: 100%

    text-align: center
  .head
    display: block

    width: 100%

    text-align: center
    h1, a
      display: block

      width: 100%
      margin: 0 auto
      padding: 0 0 20px
  .brand
    display: block

    width: 220px
    height: 220px
    max-height: 220px
    margin: 0 auto

    text-align: center
  .menu
    width: 100%
    li
      display: block
  .social
    display: block
  .pics
    position: relative
    display: block
    overflow: hidden
    width: 100%
    max-width: 280px
    margin: 10px auto
    padding: 8px 8px 8px
    transition: .3s
    border-radius: 3px
    background-color: $aqgreen
  .apts
    display: block
    margin: 0 auto
    .apt
      background-color: #ddd
      strong, span
        text-align: center
      span
        transition: .3s
        padding: 2px 0 16px
        &:hover
          color: $aqgreen
