// COLOR
$pantone367u: #85c876
$pantone563u: #6cbaa7
$pantone522c: #ba92c3
$pantone7618u: #d98882
$pantone628u: #8ed3d5
$pantone727u: #d7a98b
$pantone7520u: #fbc4be
$pantone7751u: #ceb878
$pantone10u: #7d838a
$pantoneu: #2c2b32
$pantone428u: #abaaad
$pantonew: #ffffff
$pantonelg: #f0f0f0
$pantonemetal: #282a2b
$pantonegold: #e2a32e
$bl: #000
$txtboton: #1B9BB9
$bgmain: #F4A920
$top501: #E0A731
$top500: #209BA5
$nunet: #B93F40
$olnet: #282A2B
$bannerll: #BD5125
$otherb: #47a2d2
$otherg: #666666
$bggen: #A2DED0
$add001: #EF4036
$add002: #5B7F95
$add003: #E1A028
$add004: #F74E68
$add005: $pantonegold
$bluejet: #557ECF

//#01BAF4
*
  //box-sizing: border-box
  margin: 0
  padding: 0
  font-family: Roboto,Droid,"Helvetica Neue",Helvetica,Arial,sans-serif
  //line-height: 30px
  font-size: 1em
  font-weight: normal
  border: 0
  outline: 0 none
  text-align: center

body
  background-color: $pantonelg
  max-width: 1000px
  margin: 0 auto

ul, li
  list-style-type: none
a

  line-height: 0
  text-decoration: none

span, a
  font-family: inherit

input, textarea, select
  border: 1px solid $pantone428u

h2, h3, h4, h5
  padding: 0
  font-size: .9em

.invisibilita
  display: none
.brand
  box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
  border-radius: 100%
  max-width: 200px
  display: inline-block
  margin: 16px auto
.pics
  overflow: hidden
  width: 90%
  max-width: 300px
  display: inline-block
  border-radius: 3px
  margin: 10px auto
  transition: .3s
  padding: 8px 8px 8px
  background-color: #ddd
  //height: 100%
  //min-height: 280px
  position: relative
  a
    display: block
    color: #333
  img
    border-radius: 3px
    transition: .3s
    width: 100%
    //display: block
    box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
  .indoor
    //transition: .3s
    display: block
  .outdoor
    transition: .4s
    display: block
    //width: 90%
    text-align: left
    position: absolute
    top: 100%
    right: 0
    left: 0
    bottom: 0
    padding: 10px
    span
      line-height: 24px
      span
        color: #32B8B8
    strong
      color: #00AFEC
  &:hover
    box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
    background-color: #333
    .indoor
      display: block
    .outdoor
      top: 0
      color: #fff
      background-color: rgba(0,0,0, 0.8)
    a
      color: #09f

  .txt
    padding: 10px
    h2
      text-align: left
      font-weight: bold
      text-transform: uppercase
      a
        line-height: 40px
.top
  padding-bottom: 20px
  text-align: center
  overflow: hidden
  display: block
  a
    display: inline-block
    overflow: hidden
    text-align: center
    margin: 20px auto
    background-color: #09f
    color: #fff
    height: 40px
    line-height: 40px
    width: 100px
    padding: 0 10px
    border-radius: 4px
    box-shadow: 0 4px 10px -4px rgba(0,0,0, 0.6)
    &:hover
      background-color: #06f
